* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    border: 1px solid red;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    height: 5vh;
    width: 10vw;
    font-size: 2em;
}